* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;;
}

:root {
    --bg-color: #F8F8F8;
    --text-color: #001620;
    --main-color: #DD435E;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0%;
    left: 0%;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 3rem;
}

.left-icons {
    display: flex;
    gap: 1.5rem;
}

.paraverse-icon img, .gco-connect-icon img {
    height: 50px;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 50px;
    margin-left: 4rem;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.right-icons a {
    gap: 30px;    
}

.right-icons a img {
    height: 50px;
}