* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;;
}

:root {
    --bg-color: #F8F8F8;
    --text-color: #001620;
    --main-color: #DD435E;
}

html {
    font-size: 60%;
    overflow-x: hidden;
    /* margin-top: 15vh; */
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0%;
    left: 0%;
    background-color: #F5E3E6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 3rem;
    z-index: 99999999999;
}

.left-icons {
    display: flex;
    gap: 1.5rem;
}

.paraverse-icon img, .gco-connect-icon img {
    height: 50px;
    transition: 0.3s ease-in-out;

}

.gco-connect-icon img:hover, .paraverse-icon img:hover {
    transform: scale(1.05);
}

.paraverse-menu {
    position: relative;
}

.paraverse-dropdown {
    display: none;
    position: absolute;
    top: 118%;
    left: 0;
    min-width: 500px;
    background-color: white;
    border-radius: 0.5rem;
    flex-direction: column;
}

.paraverse-menu:hover .paraverse-dropdown {
    display: flex;
}

.paraverse-menu::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 25px;
    left: 0;
    background: transparent;
}

.paraverse-dropdown p {
    padding-top: 2rem;
    padding-left: 3rem;
    /* padding-right: 90rem; */
    padding-bottom: 10rem;
    color: var(--text-color);
    font-size: 1.5rem;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar-and-book {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 50px;
    margin-left: 4rem;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.book-btn {
    align-items: center;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #d67083 10%,
        #DD435E 100%
    );
    letter-spacing: 0.5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    text-wrap: nowrap;
    color: white !important;
}

.right-icons {
    display: flex;
    gap: 3rem;  
    align-items: center;  
}

.right-icons a img {
    height: 50px;
}

.bell img {
    height: 25px !important;
    position: relative;
    z-index: 1000;
}

.profile-menu {
    position: relative;
}

.profile-dropdown {
    display: none;
    position: absolute;
    top: 118.6%;
    right: 0;
    background-color: white;
    border-radius: 0.5rem;
    min-width: 150px;
    flex-direction: column;
}

.profile-menu:hover .profile-dropdown {
    display: flex;
}

.profile-menu::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 25px;
    background: transparent;
    z-index: 999;
}

.profile-dropdown a {
    padding: 1rem;
    color: var(--text-color);
    font-size: 1.5rem;
}

.profile-dropdown a:hover {
    border-radius: 0.5rem;
    background-color: #f0f0f0;
}

.notification-menu {
    position: relative;
}

.notification-dropdown {
    display: none; 
    /* fixxxx */
    position: absolute;
    top: 180%;
    right: -50%;
    background-color: white;
    border-radius: 0.5rem;
    flex-direction: column;
}

.notification-menu:hover .notification-dropdown {
    display: flex;
}

.notification-menu::after {
    content: '';
    position: absolute;
    top: -40%;
    left: -50%;
    width: 50px;
    height: 70px;
    background: transparent;
    z-index: 898;
}

.notification-dropdown p {
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 40rem;
    padding-bottom: 10rem;
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: left;
}

.home {
    padding-left: 10rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../assets/feuBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.762);
    z-index: 1;
}

.home > * {
    position: relative;
    z-index: 2;
}

.home h1 {
    font-size: 6.5rem;
    color: white;
    align-items: center;
}

.home p {
    font-size: 2rem;
    color: white;
}

.home-left {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-align: right;
    align-items: flex-end;
    padding-top: 3rem;
    padding-bottom: 7rem;
}

.home-text-body {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.home-btns {
    display: flex;
    gap: 3rem;
}

.home-right img {
    border-radius: 50%;
    scale: 0.7;
    box-shadow: 0 0 25px var(--text-color);
    transition: 0.3s ease-in-out;
}

/* .home-right img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
} */

.learn-btn {
    align-items: center;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    background: #F5E3E6;
    border-radius: 3rem;
    letter-spacing: 0.5px;
    border: none;
    text-wrap: nowrap;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.book-btn:hover, .learn-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.services {
    padding-top: 16vh;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.services-headings {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.services h1 {
    font-size: 6.5rem;
    color: var(--text-color);
    align-items: center;
}

.services p {
    font-size: 2rem;
    color: var(--text-color);
    max-width: 60ch;
    text-align: center;
}

.service-card h3 {
    font-size: 2.3rem;
    color: #EDEDED;
    align-items: center;
}

.service-card p {
    font-size: 2rem;
    color: #EDEDED;
    align-items: center;
    text-align: left;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.service-card {
    background-color: var(--main-color);
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 0 10px var(--text-color);
                /* 0 0 50px var(--text-color); */
                /* 0 0 100px var(--text-color);   */
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1rem   ;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card img {
    height: 30px;
}

.service-card-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.footer {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #dd435f1e;
    
}

.footer img {
    height: 30px;
}

.footer h3 {
    font-size: 2rem;
    color: #8d8183;
    letter-spacing: 1px;
}

.footer p {
    font-size: 1.3rem;
    color: #8d8183;
    letter-spacing: 0.5px;
    max-width: 95ch ;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.footer-right {
    padding-top: 3rem;
    text-align: right;
}
